<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/MainLayout}">
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Category List</h2>
        <!--  <a href="/customers/new" class="btn btn-primary btn-sm">Add New Customer</a>-->
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat : ${categories}">
                <td th:text="${cat.id}"></td>
                <td th:text="${cat.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p th:if="${#lists.isEmpty(categories)}" class="text-muted">No categories found.</p>
</div>
</body>
</html>
